
*{

    box-sizing: border-box;

    margin: 0;

    scroll-behavior: smooth;

    font-family: 'Poppins',sans-serif,serif;

}

:root{

    --main-blue: #3a6cf4;

}

header{

    background-color: #f0f0f0;

    width: 100%;

    z-index: 999;

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 10px 200px;

    

}

.logo{

    text-decoration: none;

    color: #3a6cf4;

    text-transform: uppercase;

    font-weight: 700;

    font-size: 1.8em;

}

.navigation a{

    text-decoration: none;

    color: #3a6cf4;

    font-weight: 500;

    font-size: 1.1em;

    padding-left: 30px;

}

.navigation a:hover{

    color: #601cfc;

}
section{

    padding: 100px 200px;

}

.main {

    width: 100%;

    min-height: 100vh; /*Make sure it's min height not width*/

    display: flex;

    align-items: center;

    background-image: url(background.png);

    background-size:cover;

    background-position: center;

    background-attachment: fixed;

    

}

.main h2{

    color: #fff;

    font-size: 1.4em;

    font-weight: 500;

}

.main h2 span{

    font-size: 3em;

    margin-top: 10px;

    color: #4e9eff;

    font-weight: 600;

}

.main h3{

    color: #fff;

    font-size: 2em;

    font-weight: 600;

    margin-top: 10px;

    margin-bottom: 30px;

}   

.main-btn {

    color: #fff;

    background-color: #3a6cf4;

    text-decoration: none;

    font-size: 1.1em;

    font-weight: 600;

    display: inline-block;

    padding: 0.9375em 2.1875em;

    letter-spacing: 1px;

    border-radius: 15px;

    margin-bottom: 40px;

    transition: 0.7s ease;

 

}

.main-btn:hover {

    background-color: #0a49f6;

    transform: scale(1.1);

}
.social-icons a {

    color: #fff;

    font-size: 1.7em;

    padding-right: 30px;

}
.title{
    display: flex;
    justify-content: center;
    font-weight: 800;
    margin-bottom: 30px;
    font-size: 2.2em;
    color: var(--main-blue);
}
.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    background-color: #ffff;
    width: 21.5em;
    border-radius: 10px;
    padding: 21px;
    margin: 15px;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    transition: 0.7s ease;
}

.card:hover{
    transform: scale(1.1);

}
.card .icon{
    color: var(--main-blue);
    font-size: 8em;
    text-align: center;
}
